env SESSION_SECRET;
env SESSION_COOKIE_PERSISTENT;
env SESSION_COOKIE_LIFETIME;
env OIDC_DISCOVERY;
env OIDC_CLIENT_ID;
env OIDC_CLIENT_SECRET;
env OIDC_SCOPE;
env OIDC_REDIRECT_URI;

error_log stderr $NGINX_LOG_LEVEL;

events {
	worker_connections 128;
}

http {
	access_log  logs/access.log;
	resolver $NGINX_RESOLVER;

	include mime.types;
	default_type application/octet-stream;

	include lua.conf;
	include server.conf;

	include /etc/ipax/conf.d/*.conf;
}
