env OIDC_DISCOVERY;
env OIDC_CLIENT_ID;
env OIDC_CLIENT_SECRET;
env OIDC_SCOPE;
env OIDC_REDIRECT_URI;
env OIDC_SESSION_SECRET;

error_log stderr $NGINX_LOG_LEVEL;

events {
	worker_connections 128;
}

http {
	lua_package_path '/etc/ipax/lua/?.lua;;';
	access_log  logs/access.log;

	# cache for discovery metadata documents
	lua_shared_dict discovery 1m;
	# cache for JWKs
	lua_shared_dict jwks 1m;
	# cache for sessions storage
	lua_shared_dict sessions 10m;

	include /etc/ipax/conf.d/*.conf;
}
