<!DOCTYPE html>
<html style="height: -webkit-fill-available; background-color: #eafcec;">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{app_name}}</title>
		<script src="./js/jquery-3.3.1.slim.min.js" ></script>
		<script src="./js/popper.min.js"></script>
		<script src="./js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="./css/common.css" >
		<link rel="stylesheet" href="./css/bootstrap.min.css" >
		<link rel="stylesheet" href="./css/all.css">
		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	</head>
	<body style="background: url(./img/logo.png) no-repeat center; height: -webkit-fill-available;">
		<div class="navbar" style="background: white;">
			<div class="container">
				<div class="navbar-header" style="height: fit-content; overflow: hidde;">
					<a class="navbar-brand" rel="home" href="#" title="Identicum">
						<img style="max-width:300px; height: 100px; margin-right: 0px" src="img/logo.png"> <span style="color: #3fac40">| {{app_name}}</span>
					</a>
				</div>
			</div>
		</div>
		<div style="height: 600px; text-align: center; display: grid;">
			<a id="login-button" class="btn btn-success" style="height: 3rem; width: 7rem; grid-column-start: 2; grid-row-end: 4; grid-row-start: 4; padding-top: 10px; align-self: end;" href="./private/info">Login</a>
		</div>
	</body>
</html>
